/*font-family: 'Montserrat', sans-serif;
*/
:root {
  --primary-color: #472a3a;
  --secondary-color: #f7ecde;
  --third-color: #fbf8f1;
  --addition-color: #eb1d36;
}

@media (max-width: 768px) {
  .home-page h1,
  .home-page h2 {
    position: absolute;
    left: 20px !important;
  }
  .col-6 {
    width: 100%;
  }

  .home-right p {
    margin-top: 20px !important;
  }
  header .btn {
    margin-top: 40px !important;
  }
  .my-tools img {
    display: block;
    margin: 0 auto;
    max-width: 50px !important;
    max-height: 50px !important;
  }
  .tools-desc {
    font-size: 14px;
    margin: 20px auto;
  }
}

@media (max-width: 980px) {
  h1,
  h2 {
    font-size: 36px !important;
  }
  p {
    font-size: 18px !important;
  }
  header .btn {
    margin-top: 30px !important;
    font-size: 18px !important;
  }
  .home-right p,
  .home-right .btn {
    padding-left: 100px !important;
  }
  h3 {
    font-size: 36px !important;
    text-align: center;
  }
  h4 {
    font-size: 30px !important;
    text-align: center;
  }
  .app-desc {
    text-align: justify;
  }
  .btn-primary-outline {
    display: block;
    margin: 0 auto !important;
    width: 200px;
    font-size: 16px !important;
  }
  .contact-me {
    margin: 50px auto !important;
  }
  .about-right,
  .about-left {
    width: 100%;
    text-align: justify;
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin: 20px;
  }
}

nav {
  color: var(--primary-color);
  background-color: var(--third-color);
}
header {
  background-color: var(--third-color);
  font-family: "Montserrat", sans-serif;

  padding-bottom: 100px;
  margin-bottom: 50px;
}
.home-page {
  padding-top: 200px;
}
.about-page {
  padding-top: 100px;
}
h1,
h2 {
  font-size: 70px;
  font-weight: bold;
  color: var(--primary-color);
}
h3 {
  font-size: 56px;
  font-weight: 700;
  color: var(--primary-color);
}
h4 {
  font-size: 46px;
  font-weight: 700;
  color: var(--primary-color);
}
.home-page h1,
.home-page h2 {
  position: relative;
  left: 100px;
}
p {
  font-size: 20px;
}
header .col-9 {
  color: var(--primary-color);
  background: var(--secondary-color);
}
.home-right p {
  font-size: 34px;
  padding-left: 200px;
  margin-top: 50px;
}
.home-page .btn {
  padding-left: 200px;

  margin-top: 100px;
}
.btn {
  font-size: 24px;
  color: var(--primary-color);
}
a:hover,
.contact-button:hover {
  color: var(--addition-color) !important;
}
.btn-primary-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 10px 20px !important;
}
.btn-primary-outline:hover {
  border: 1px solid var(--primary-color) !important;
}
.contact-me {
  display: block;
  margin: 100px auto;
  width: 200px;
}
.contact-button {
  color: var(--primary-color);
}
footer {
  width: 40%;
  margin: 50px auto;
}
#my-tools,
#my-projects {
  padding: 50px;
}
.my-tools img {
  display: block;
  margin: 0 auto;
  max-width: 80px;
  max-height: 80px;
}
.about-right {
  padding-left: 50px;
}
