/*font-family: 'Montserrat', sans-serif;
*/
:root {
  --primary-color: #3a3845;
  --secondary-color: #c69b7b;
  --third-color: #f7ccac;
  --addition-color: #826f66;
}
@media (max-width: 768px) {
  .heading h1,
  .heading h2 {
    font-size: 36px !important;
    position: absolute;
    left: 20px !important;
  }
  .col-6 {
    width: 100%;
  }
  .home-right {
    padding-left: 100px !important;
  }
  .home-right p {
    font-size: 20px !important;
    margin-top: 20px !important;
  }

  .about-right {
    width: 100%;
    text-align: center;
    padding: 100px 50px;
  }
  p {
    font-size: 16px !important;
  }
  header .btn {
    font-size: 16px !important;
    margin-top: 0 !important;
  }

  h3,
  .app-desc {
    text-align: center;
  }
  .btn-primary-outline {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
}
@media (max-width: 980px) {
  h3 {
    font-size: 30px !important;
  }
  header .btn {
    top: 0 !important;
  }
}

nav {
  color: var(--primary-color);
  background-color: var(--third-color);
}
header {
  background-color: var(--third-color);
  font-family: "Montserrat", sans-serif;
  padding-top: 100px;
  padding-bottom: 200px;
  margin-bottom: 50px;
}
h1,
h2 {
  font-size: 70px;
  font-weight: bold;
  color: var(--primary-color);
}
.heading h1,
.heading h2 {
  position: relative;
  left: 100px;
}
header .col-9 {
  color: var(--primary-color);
  background: var(--secondary-color);
}
.home-right {
  padding-left: 200px;
}
.col-9 h1 {
  font-size: 56px;
}
header .btn {
  color: var(--primary-color);
  position: relative;
  top: 100px;
  padding-left: 0;
}
a:hover,
.contact-button:hover {
  color: var(--addition-color) !important;
}
h3 {
  font-size: 46px;
  font-weight: 700;
  color: var(--primary-color);
}
.btn-primary-outline {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 10px 20px;
}
.btn-primary-outline:hover {
  border: 1px solid var(--primary-color) !important;
}
.contact-me {
  display: block;
  margin: 100px auto;
  width: 200px;
}
.contact-button {
  color: var(--primary-color);
}
footer {
  margin-bottom: 50px;
}
#my-projects {
  padding: 50px;
}
