/*font-family: 'Montserrat', sans-serif;
*/
:root {
  --primary-color: #4d724d;
  --secondary-color: #b3cfb4;
  --third-color: #f5f5f5;
  --addition-color: #2c442c;
}
@media (max-width: 768px) {
  .heading h1,
  .heading h2 {
    font-size: 36px !important;
    position: absolute;
    left: 20px !important;
  }
  .col-6 {
    width: 100%;
  }
  .home-right {
    padding-left: 100px !important;
  }

  .about-right {
    width: 100%;
    text-align: center;
    padding: 100px 50px;
  }
  p {
    font-size: 16px !important;
  }
  header .btn {
    font-size: 16px !important;
    margin-top: 0 !important;
  }
  .home-right p {
    margin-top: 20px !important;
  }
  h3,
  .app-desc {
    text-align: center;
  }
  .btn-primary-outline {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
}
@media (max-width: 980px) {
  h3 {
    font-size: 30px !important;
  }
  header .btn {
    top: 0 !important;
  }
}
body,
.navbar {
  background-color: var(--third-color);
  font-family: "Montserrat", sans-serif;
}
.nav-link {
  color: var(--primary-color);
}
header {
  margin-top: 100px;
  margin-bottom: 150px;
}

.heading h1,
.heading h2 {
  font-size: 80px;
  font-weight: bold;
  color: var(--primary-color);
  position: relative;
  left: 100px;
}
header .col-9 {
  color: var(--primary-color);
  background: var(--secondary-color);
}
.home-right {
  padding-left: 200px;
}
.col-9 h1 {
  font-size: 56px;
}
header .btn {
  color: var(--primary-color);
  position: relative;
  top: 100px;
  padding-left: 0;
}
a:hover {
  color: #e95454 !important;
}
h3 {
  font-size: 46px;
  font-weight: 700;
  color: var(--primary-color);
}
.btn-primary-outline {
  color: var(--primary-color);
  background-color: var(--third-color);
  border: 1px solid var(--primary-color);
  padding: 10px 20px;
}
.btn-primary-outline:hover {
  border: 1px solid var(--primary-color) !important;
}
